<!--*****Search Event Section****-->
<div ng-include="'views/search-event.html'"></div>

<!--********Event View Section**********-->
<div ng-include="'views/event.html'"></div>

<div class="owl-container">
		<div class="container">
			<div class="row">
				<p>POPULAR CATEGORIES</p>
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 services">
					<div id="owl-category">          
					  <a href="#"><div class="item"><p>Birthday Party</p><img src="images/event_category.png"></div></a>
					  <a href="#"><div class="item"><p>Bachelorette party</p><img src="images/event_category.png"></div></a>
					  <a href="#"><div class="item"><p>Family Reunion</p><img src="images/event_category.png"></div></a>
					  <a href="#"><div class="item"><p>Wedding</p><img src="images/event_category.png"></div></a>
					  <a href="#"><div class="item"><p>Barbecue</p><img src="images/event_category.png"></div></a>
					  <a href="#"><div class="item"><p>Meetup</p><img src="images/event_category.png"></div></a>
					  <a href="#"><div class="item"><p>Other</p><img src="images/event_category.png"></div></a>
					  <a href="#"><div class="item"><p>Other</p><img src="images/event_category.png"></div></a>					 
					</div>
				</div>
			</div>
		</div>
</div>  

<!--********Bussiness View Section**********-->
<div ng-include="'views/business.html'"></div>