<div class="how-body">
    <div class="container how-container">
        <div class="how-title how-title-big">How It Works</div>
        <div class="how-block how-event-block">
            <div class="how-title how-title-small how-got">Got an Event?</div>
            <div class="how-row row">
                <div class="how-icon-box col-xs-12 col-sm-12 col-md-3 col-lg-3">
                    <div class="how-icon-container">
                        <img class="how-icon" src="images/how-it-works/create-event.png" alt="create-event">
                        <div class="how-text">Create Event</div>
                    </div>
                </div>
                <div class="how-arrow-box col-xs-12 col-sm-12 col-md-1 col-lg-1">
                    <img class="how-icon" src="images/how-it-works/white-arrow.png" alt="white-arrow">
                </div>
                <div class="how-icon-box col-xs-12 col-sm-12 col-md-3 col-lg-3">
                    <div class="how-icon-container">
                        <img class="how-icon" src="images/how-it-works/share.png" alt="share">
                        <div class="how-text">Share with friends</div>
                    </div>
                </div>
                <div class="how-arrow-box col-xs-12 col-sm-12 col-md-1 col-lg-1">
                    <img class="how-icon" src="images/how-it-works/white-arrow.png" alt="white-arrow">
                </div>
                <div class="how-icon-box col-xs-12 col-sm-12 col-md-3 col-lg-3">
                    <div class="how-icon-container">
                        <img class="how-icon" src="images/how-it-works/services.png" alt="services">
                        <div class="how-text">Get Services for your event!</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="how-title how-title-small how-vendor">Are you a vendor?</div>
        <div class="how-block how-vendor-block">
            <div class="how-row row">
                <div class="how-icon-box col-xs-12 col-sm-12 col-md-3 col-lg-3">
                    <div class="how-icon-container">
                        <img class="how-icon" src="images/how-it-works/register.png" alt="register">
                        <div class="how-text">Register for Free</div>
                    </div>
                </div>
                <div class="how-arrow-box col-xs-12 col-sm-12 col-md-1 col-lg-1">
                    <img class="how-icon" src="images/how-it-works/grey-arrow.png" alt="grey-arrow">
                </div>
                <div class="how-icon-box col-xs-12 col-sm-12 col-md-3 col-lg-3">
                    <div class="how-icon-container">
                        <img class="how-icon" src="images/how-it-works/recommend.png" alt="recommend">
                        <div class="how-text">Get recommended for events around your services</div>
                    </div>
                </div>
                <div class="how-arrow-box col-xs-12 col-sm-12 col-md-1 col-lg-1">
                    <img class="how-icon" src="images/how-it-works/grey-arrow.png" alt="grey-arrow">
                </div>
                <div class="how-icon-box col-xs-12 col-sm-12 col-md-3 col-lg-3">
                    <div class="how-icon-container">
                        <img class="how-icon" src="images/how-it-works/rate.png" alt="rate">
                        <div class="how-text">Get Hired and rated for your outstanding service!</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="how-title how-title-small">Guess what?... It's 100% FREE</div>
        <div class="how-row row" style="padding:50px">
            <div class="col-md-4 col-md-offset-4">
                <a ui-sref="Main.Signup" 
                    class="btn btn-large btn-block btn-default btn-purplet "
                    style="padding:20px">
                    Sign Up Today
                </a>                
            </div>
        </div>
            
    </div>
</div>