
<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <div class="well well-lg">
        <div style="outline:none">
            <img style="outline:none;" src="images/close.png" id="close_image" alt="" ng-click="cancel()" />
        </div>
        <div style="margin:20px; padding:20px">
        <form name="ccForm" novalidate>
            <div class="form-group">
                <label for="name">Enter Name:</label>
                <input class="form-control" name="name" placeholder="Enter Name on Card" ng-model="card.Name" required>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-xs-6">
                        <label for="card-type">Card Type</label>
                        <select ng-model="card.Type" ng-options="type for type in ['Visa', 'American Express', 'MasterCard', 'Discover']"></select>
                        <!--<input ng-model="ccForm.ccNumber.$ccType">-->
                    </div>
                    <div class="col-xs-6">
                        <label for="card-number">Card Number</label>
                        <input type="text" style="height:43px;" class="form-control" id="cardNumber" cc-number name="ccNumber" ng-model="card.Number"
                        cc-format ng-class="{errorCard: !ccForm.ccNumber.$valid}" cc-type="card.cardType">
                    </div>
                </div>
            </div>
            <div style="margin-bottom:20px">
                <span>Card Validity: {{ccForm.ccNumber.$valid | yesNo}}</span>
            </div>
            <!--<table class="table">
                                            <tr>
                                                <th>Valid</th>
                                            </tr>
                                            <tr>
                                                <td>
                                                    {{ccForm.ccNumber.$valid | yesNo}}
                                                </td>
                                                <!--<td>
                                                    {{ccForm.ccNumber.$ccType || 'Unknown'}}
                                                </td>
                                            </tr>
                                        </table>-->
            <div class="form-group">
                <label for="cvc">CVC</label>
                <input type="text" class="form-control" id="Ccv" cc-cvc cc-type="ccForm.ccNumber.$ccType" name="ccCvc" ng-model="card.Ccv"
                ng-class="{errorCard: !ccForm.ccCvc.$valid}">
            </div>
            <div class="form-group">
                <label for="card-number">Expiration</label>
                <div class="row" cc-exp>
                    <div class="col-xs-6">
                        <input placeholder="MM" type="text" class="form-control" cc-exp-month name="ccExpMonth" ng-model="card.ExpiryMonth" ng-class="{errorCard: !ccForm.ccExpMonth.$valid}">
                    </div>
                    <div class="col-xs-6">
                        <input placeholder="YY" type="text" class="form-control" cc-exp-year name="ccExpYear" ng-model="card.ExpiryYear" ng-class="{errorCard: !ccForm.ccExpYear.$valid}">
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="address">Enter Address:</label>
                <input class="form-control" name="address" placeholder="Enter Address on Card" ng-model="card.BillingAddress" required>
            </div>
            <div class="form-group">
                <label for="city">Enter City:</label>
                <input class="form-control" name="city" placeholder="Enter City on Card" ng-model="card.City" required>
            </div>
            <div class="form-group">
                <label for="country">Enter Country:</label>
                <input class="form-control" name="country" placeholder="Enter Country on Card" ng-model="card.Country" required>
            </div>
            <input type="button" value="ADD CARD" ng-click="addCard()" ng-disabled="!ccForm.$valid" ng-class="{disableButton: !ccForm.$valid}"
            style="width: 20%; border-radius: 45px; background-color: #682079; color: #fff;">
        </form>
        </div>
    </div>
</div>