<section class="heading">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <h1>My Profile</h1>
                <p class="greyt">The place where you can edit settings, activities, tickets and history. Basically all you need to know about...you!</p>
            </div>
        </div>
    </div>
</section>

<section class="profile_container">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                <side-nav></side-nav>
            </div>
            <div class="col-xs-12 col-sm-9 col-md-9 col-lg-9">
                <div>
                    <div id="history-tab" class="tab-pane">
					    <div class="tab-container">
					    	<h4>History</h4>
					    	
					    	<p class="title">Recent</p>

					    	<div class="recent">
					    		<div class="history_container">
						    		<div class="row">
						    			<div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
						    				<img src="images/avatar_thumb.png"/>
						    			</div>
						    			<div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
						    				<span>User</span> liked your photo
						    			</div>
						    			<div class="col-xs-4 col-sm-2 col-md-2 col-lg-2">
						    				<img src="images/camera.png"/>
						    			</div>
						    		</div>
					    		</div>
					    	</div>

					    	<p  class="title">Recent</p>

					    	<div class="old">
					    		<div class="history_container">
						    		<div class="row">
						    			<div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
						    				<img src="images/avatar_thumb.png"/>
						    			</div>
						    			<div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
						    				<span>User</span> liked your photo
						    			</div>
						    			<div class="col-xs-4 col-sm-2 col-md-2 col-lg-2">
						    				<img src="images/camera.png"/>
						    			</div>
						    		</div>
					    		</div>
					    		<div class="history_container">
						    		<div class="row">
						    			<div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
						    				<img src="images/avatar_thumb.png"/>
						    			</div>
						    			<div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
						    				<span>User</span> liked your photo
						    			</div>
						    			<div class="col-xs-4 col-sm-2 col-md-2 col-lg-2">
						    				<img src="images/camera.png"/>
						    			</div>
						    		</div>
					    		</div>
					    		<div class="history_container">
						    		<div class="row">
						    			<div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
						    				<img src="images/avatar_thumb.png"/>
						    			</div>
						    			<div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
						    				<span>User</span> liked your photo
						    			</div>
						    			<div class="col-xs-4 col-sm-2 col-md-2 col-lg-2">
						    				<img src="images/camera.png"/>
						    			</div>
						    		</div>
					    		</div>
					    	</div>
					    </div>
					  </div>
                  </div>
              </div>
          </div>
      </div>
</section>                      