<div>
    <div class="alert alert-danger" style="text-align:center; margin-top:150px; margin-bottom:2em; font-size:30px;">
        <Span><strong>Sorry Could Not Process Your Request</strong></Span>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
        <div style="margin-left:20em;">
            <button style="width: 15em; height: 4em; background-color: #682079; border-radius: 30px; border: 0px;">
                <a style="color: #fff;" ui-sref="Main.Home.Event" class="btn">
                        Continue to Home..
                    </a>
            </button>
        </div>
    </div>
</div>