<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12"  style="background-color:#fff; height:11em;">
    <img style="outline:none;" src="images/close.png" id="close_image" alt=""  ng-click="cancel()"/>
    <div style="margin:10px;">
        <h3 style="text-align:center;">Hire {{business.Name}} </h3>
        <div class="sbox price_contact">
            <a ng-href="mailto:{{ email }}" target="_blank" >
            <form>
                <input style="background-color: #682079;color: #fff; font-weight: bold; margin-top:2em;" type="submit" id="submit" name="submit" value="HIRE" ng-click="hireMe()" />
            </form>
            </a>
        </div>
    </div>
</div>